{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<main class="index-page">
  <div class="container">
     <div class="row">
      <div class="col-sm-2">
        <h6>Symbol</h6>
      </div>
      <div class="col-sm-2">
        <h6>Name</h6>
      </div>
      <div class="col-sm-2">
        <h6>Shares</h6>
      </div>
      <div class="col-sm-2">
        <h6>Price</h6>
      </div>
      <div class="col-sm-2">
        <h6>Total</h6>
      </div>
    </div> <!-- row -->
    {% for datum in data %}
    <div class="row">
      <div class="col-sm-2">
        {{ datum['symbol'] }}
      </div>
      <div class="col-sm-2">
       TBA
      </div>
      <div class="col-sm-2">
        {{ datum['shares'] }}
      </div>
      <div class="col-sm-2">
        {{ datum['share_value'] }}
      </div>
      <div class="col-sm-2">
        {{ datum['value'] }}
      </div>
    </div> <!-- row -->
    {% endfor %}
  </div>
</main>
{% endblock %}
