{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<main class="index-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        Symbol
      </div>
      <div class="col-sm-2">
        Name
      </div>
      <div class="col-sm-2">
        Shares
      </div>
      <div class="col-sm-2">
        Price
      </div>
      <div class="col-sm-2">
        TOTAL
      </div>
    </div> <!-- row -->
    <div class="row">

    </div>
  </div>
</main>
{% endblock %}
