{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

y

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Enter an email" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Enter a password" type="password"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Re-enter A password" type="password"/>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
